<% cfg_set("ca_finish", "1") %>
<% cfg_set("configured", "1") %>

<% http_header("style/form.css", "/funcs.js", "/wlan.js") %>
<% mobile_body_header("ca_connect_rightpage.htm", "ca_connect_retry") %>
<% save_timestamp("ca_connect_retry", "ca_connect_cancel") %>

<% cfg_set("refresh_page", "client_setting") %>

<script>
function loadvalue()
{}
var ts='<% cfg_get("ca_connect_retry") %>';
var mobile_tag="<% cfg_get("mobile_tag") %>";
var gui_region="<% cfg_get("GUI_Region") %>";

var dns_hijack="<% cfg_get("dns_hijack") %>";
var setup_wizard_tag="<% cfg_get("setup_wizard_tag") %>";

var sta_list = "<% cat_file("/tmp/check_link") %>";
var link_status="<% cat_file("/tmp/link_status" %>";
var ca_finishs="<% cfg_get("ca_finishs") %>";
function close_window()
{
	if(ca_finishs == "1")
		msg_close();	
}
function ca_connect_retry()
{
	var browser=eval ( '"' + top.location + '"' );
    if  ( "<% cfg_get("lan_dhcp") %>" == "1")
    {
        judge_browser(document.forms[0],browser);
    }
	document.forms[0].submit();
}

function ca_connect_continue()
{
    var cf = document.forms[0];
	cf.submit_flag.value="ca_connect_cancel";
	cf.action="/apply.cgi?/wait_for_searching.htm timestamp="+ts;
	
    cf.submit();
}

function click_next()
{
	if( get_browser() == "IE" || get_browser() == "Firefox")
	{
		if (confirm("$ca_add_bookmark"))	
			addfavorite();
	}
	top.location.href="new_index.htm";
}

if(setup_wizard_tag=="1")
	load_default(3);
</script>
<input type="hidden" name="submit_flag" value="ca_connect_retry">
<input type="hidden" name="related_region" value="">
<input type="hidden" name="refresh_url">
<input type="hidden" name="refresh_page">
<input type="hidden" name="ca_finish">
<input type="hidden" name="dns_hijack">
<div class="ca_main"> 
<table width=100%><tr><td width="5%">&nbsp;</td><td>
<table width=100% border=0 cellpadding=0 cellspacing=0>
	<TR>
	<!--<script>
	if(dns_hijack==1)
	{
		document.write('<td  rowspan=100 width=70 align=center valign=top>');document.write(ca_icon+"<br><br><br>");icons_show_status();document.write('&nbsp;</td>');
	}
	</script>-->
	<TD colSpan=3><H1>$ca_connect_uncomplete_head</H1></TD></TR>
	<br>
	<TR><td colspan=3><img src=/liteblue.gif width=100% height=12></td></TR>
		<TR><td colspan=3>
			$ca_connect_uncomplete_wpa
		</td></TR>		
	<TR><td colspan=3><img src=/liteblue.gif width=100% height=12></td></TR>
	<tr>
	<td>
		<input name="cancel" class="cancel_bt" align="left" type="button" value="$cancel_mark" onClick="ca_connect_continue();">
	</td>
	<td>
		<input name="next" class="short_common_bt" align="right" type="button" value="$finish" onClick="click_next();">
	</td>
	<td>
		<input name="again" class="short_common_bt" align="right" type="button" value="$retry_mark" onClick="ca_connect_retry();">
	</td>
	</tr>
	</table></td><td width="5%">&nbsp;</td></tr>
</table> 
</div> 
</form>
</body>
</html>

