<% http_header("style/form.css", "/funcs.js", "/tr069.js") %>
<% top_body_header("tr069.htm", "tr069") %>
<div class="page_title">$tr069_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<tr>
<td nowrap colspan=2 align=center>
<!--input class="common_bt"  type="submit" name="kike" value="$tr069_kick" onClick="return check_tr069(document.forms[0],1)"> &nbsp;-->
<input class="cancel_bt" type='reset' name='Cancel' value='$cancel_mark' onClick='location.href="tr069.htm";'>&nbsp;
<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_tr069(document.forms[0],0)">
</td>
</tr>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
var get_enable_tr069="<% cfg_get("cwmp_tr069_enable") %>";
var get_inform_enable="<% cfg_get("cwmp_inform_enable") %>";
function loadvalue()
{
	var form=document.forms[0];
	if ( get_enable_tr069 == "1" )
		form.enable_tr069.checked = true;
	else
		form.enable_tr069.checked = false;

	if ( get_inform_enable == "1" )
		form.inform_enable[0].checked = true;
	else
		form.inform_enable[1].checked = true;

}
</script>
<input type="hidden" name="hidden_enable_tr069">
<input type="hidden" name="set_kick">
<tr><td nowrap colspan=2><input type="checkbox"  name="enable_tr069" value="0"><b>$tr069_turnOn </b></a></td></tr>
$bluebar
<tr>
    <td nowrap>$tr069_informEnable</td>
    <td nowrap> 
        <input type="radio" name="inform_enable" value="1" >$r_enable&nbsp;
        <input type="radio" name="inform_enable" value="0" >$r_disable
    </td>
</tr>
<tr>
	<td nowrap>$tr069_informInterval</td>
	<td nowrap><input type="text" name="interval" size="20" maxlength="60" value="<% cfg_sed_xss("cwmp_inform_interval") %>"></td>
</tr>
<tr>
	<td nowrap>$tr069_acsURL</td>
	<td nowrap><input type="text" name="acs_url" size="40" maxlength="60" value="<% cfg_sed_xss("cwmp_acs_url") %>"></td>
</tr>
<tr>
	<td nowrap>$tr069_acsUserName</td>
	<td nowrap><input type="text" name="acs_name" size="20" maxlength="60" value="<% cfg_sed_xss("cwmp_acs_name") %>"></td>
</tr>
<tr>
	<td nowrap>$tr069_acsPassword</td>
	<td nowrap><input type="password" name="acs_password" size="20" maxlength="60" value="<% cfg_sed_xss("cwmp_acs_password") %>"></td>
</tr>
<tr>
<TD>&nbsp; </TD><TD>&nbsp;</TD>
</tr>
<tr>
	<td nowrap>$tr069_requestPort</td>
	<td nowrap><input type="text" name="con_port" size="40" maxlength="60" value="<% cfg_sed_xss("cwmp_con_port") %>"></td>
</tr>
<tr>
	<td nowrap>$tr069_requestUserName</td>
	<td nowrap><input type="text" name="con_name" size="20" maxlength="60" value="<% cfg_sed_xss("cwmp_con_name") %>"></td>
</tr>
<tr>
	<td nowrap>$tr069_requestPassword</td>
	<td nowrap><input type="password" name="con_password" size="20" maxlength="60" value="<% cfg_sed_xss("cwmp_con_pass") %>"></td>
</tr>
<tr>
	<td nowrap>$tr069_stun_addr</td>
	<td nowrap><input type="text" name="stun_addr" size="40" maxlength="60" value="<% cfg_sed_xss("cwmp_STUNServerAddr") %>"></td>
</tr>
<tr>
        <td nowrap>$tr069_stun_port</td>
        <td nowrap><input type="text" name="stun_port" size="40" maxlength="60" value="<% cfg_sed_xss("cwmp_STUNServerPort") %>"></td>
</tr>



$bluebar
</table>
</div>
<% help_box("0","_TR069") %>
</FORM>
</BODY>
</HTML>
